/* color pallette: BLUE: #070974 ; GREY: #746F72 ; WHITE: #F2F8F2   */

body {
    background-color: #F2F8F2;
    font-family: 'Ubuntu', sans-serif;
}

.jBronny {
    font-size: 80px;
    color: #070974;
    font-family: 'Ubuntu', sans-serif;
}

.divjBronny {
    margin-top:170px;
    margin-right:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 25px;
}
.divsubtitle {
    margin-right:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-custom {
    background-color: #070974;
}

.clock {
    color:#F2F8F2;
}