body {
    margin:0;
}

.container-sideb {
    background-color: #1c4b6d;
    float:left;
    height:100vh;
    width: 15%;
    text-align: center;
    position:relative;
}

.logo {
    width:60%;
}

.bronnyhub {
    width:100%;
    margin-top: -1rem;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.menu li {
    margin:20px;
    color:lightgoldenrodyellow;
    font-size: 20px;
}

.menu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ikonki ul {
    justify-items: center;
    align-items: center;
}

.ikonki li{
    display:inline-flex;
    list-style: none;
    width: auto;
    margin-right:1rem;
    margin-top:15rem;
}
.ikona {
    height:30px;
}
